<header class="header">
    <div class="header__title">
        <img src="/static/handpando-transparent.png" width="80" height="80"/>
        <a href="{{ $.Site.BaseURL }}" class="header__title__link" alt="Home">
            {{ if $.Site.Params.logo }}
            <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="header__title__logo" alt="{{ $.Site.Title }}">
            {{ else }}
            {{ $.Site.Title }}
            {{ end }}
        </a>
    </div>

    {{ partial "menu.html" . }}
    {{ partial "hamburger-menu.html" . }}
</header>